<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/calculation.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Главная</title>
</head>
<body>
	<header id="header" class="header">
		<div class="navigation">
			<div class="logo">
				<a href="#"><img src="img/logo.jpg" alt="logo"></a>
			</div>
			<ul class="menu">
				<li><a href="#">Главная</a></li>
				<li><a href="#">Калькулятор</a></li>
				<li><a href="#cont">Контакты</a></li>
			</ul>
		</div>
	</header>
	<section id="main" class="main">
		<div class="greetings">
			<h1 class="main_title">Оценка стоимости проекта</h1>
			<p class="main_text">Не следует, однако забывать, что консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития.Не следует, однако забывать, что консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития.</p>
		</div>
	</section>
	<section id="templates" class="templates">
		<div class="post-wrap">
			<div class="post-item">
				<div class="post-item-wrap">
					<div class="post-link">
						<h3 class="post-title">Title</h3>
						<p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel arcu purus. Duis egestas purus et ex interdum lobortis. Quisque nec magna viverra, interdum dolor at, congue augue. Quisque sed interdum augue, a lacinia nulla. Sed risus nibh, vestibulum eu nisi eu, imperdiet tempor quam.</p>
						<img src="img/clock.jpg">
					</div>
				</div>
			</div>
			<div class="post-item">
				<div class="post-item-wrap">
					<div href="" class="post-link">
						<h3 class="post-title">Title</h3>
						<p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel arcu purus. Duis egestas purus et ex interdum lobortis. Quisque nec magna viverra, interdum dolor at, congue augue. Quisque sed interdum augue, a lacinia nulla. Sed risus nibh, vestibulum eu nisi eu, imperdiet tempor quam.</p>
						<img src="img/clock.jpg">
					</div>
				</div>
			</div>
			<div class="post-item">
				<div class="post-item-wrap">
					<div href="" class="post-link">
						<h3 class="post-title">Title</h3>
						<p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel arcu purus. Duis egestas purus et ex interdum lobortis. Quisque nec magna viverra, interdum dolor at, congue augue. Quisque sed interdum augue, a lacinia nulla. Sed risus nibh, vestibulum eu nisi eu, imperdiet tempor quam.</p>
						<img src="img/clock.jpg">
					</div>
				</div>
			</div>
			<div class="post-item">
				<div class="post-item-wrap">
					<div href="" class="post-link">
						<h3 class="post-title">Title</h3>
						<p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel arcu purus. Duis egestas purus et ex interdum lobortis. Quisque nec magna viverra, interdum dolor at, congue augue. Quisque sed interdum augue, a lacinia nulla. Sed risus nibh, vestibulum eu nisi eu, imperdiet tempor quam.</p>
						<img src="img/clock.jpg">
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer id="footer" class="footer">
		<div class="basement">
			<p><a name="cont"></a></p> 
			<p class="contacts">
				<a href="#win2">Версия для модератора</a>
			</p>
			<a href="#x" class="overlay" id="win2"></a>
			<div class="popup">
				<div class="form">
					<h3 class="title_form">Авторизация</h3>
					<div class="one">
						<input class="field" type="text" placeholder="Введите имя">
					</div>
					<div class="two">
						<input class="field" type="email" placeholder="Введите E-mail">
					</div>
					<div class="three">
						<input class="field" type="password" placeholder="Введите пароль">
					</div>
					<div class="four">
						<input class="field" type="password" placeholder="Повторите пароль">
					</div>
					<div class="btn">
						<a href="#" class="button">Войти</a>
					</div>
				</div>
				<a class="close"title="Закрыть" href="#close"></a>
			</div>
		</div>
	</footer>
	<script src="js/script.js"></script>
</body>
</html>