<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/calculation.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Главная</title>
</head>
<body>
	<header id="header" class="header">
		<div class="navigation">
			<div class="logo">
				<a href="#"><img src="img/logo.jpg" alt="logo"></a>
			</div>
			<ul class="menu">
				<li><a href="#">Главная</a></li>
				<li><a href="#">Калькулятор</a></li>
				<li><a href="#cont">Контакты</a></li>
			</ul>
		</div>
	</header>
	<section id="main" class="main">
		<div class="greetings">
			<h1 class="main_title">Спасибо! Ваша заявка уже у нас!</h1>
		</div>
	</section>
	<footer id="footer" class="footer">
		<div class="basement">
			<p><a name="cont"></a></p> 
			<p class="contacts">
				<a href="#win2">Версия для модератора</a>
			</p>
			<a href="#x" class="overlay" id="win2"></a>
			<div class="popup">
				<div class="form">
					<h3 class="title_form">Авторизация</h3>
					<div class="one">
						<input class="field" type="text" placeholder="Введите имя">
					</div>
					<div class="two">
						<input class="field" type="email" placeholder="Введите E-mail">
					</div>
					<div class="three">
						<input class="field" type="password" placeholder="Введите пароль">
					</div>
					<div class="four">
						<input class="field" type="password" placeholder="Повторите пароль">
					</div>
					<div class="btn">
						<a href="#" class="button">Войти</a>
					</div>
				</div>
				<a class="close"title="Закрыть" href="#close"></a>
			</div>
		</div>
	</footer>
	<script src="js/script.js"></script>
</body>
</html>